---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.projects.size > 0 -%}
    <h2 class="projects-list-heading">{{ page.list_title | default: "Projects" }}</h2>
    <ul class="projects-list">
      {%- for projects in site.projects -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="projects-meta">{{ projects.date | date: date_format }}</span>
        <h3>
          <a class="projects-link" href="{{ projects.url | relative_url }}">
            {{ projects.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ projects.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
